@font-face {
  font-family: 'Mosk-Medium';
  src: url("Mosk-Medium.ttf") format("truetype");
  font-style: normal;
}

html{
  height: 100%;
  padding: 0px;
}

body{
  margin: 0rem;
	min-height: 100vh;
  padding: 0px;
  background: #0C090D;
}

.follow-me{
  margin: -40px;
  list-style-type: none;
  position: fixed;
  left: 0;
  top: 45%;
  display: block;
}

*{
  color: white;
}

a{
  color: white;
}

a:hover{
  color: rgb(246, 219, 123);
}

.jumbotron-fluid{
  background: none;
  font-family: 'Mosk-Medium';
  height: 150px;
  text-align: center;
  padding: 0px;
}

code{
  color: rgb(246, 219, 123);
}

span{
  margin-left: 140px;
  color: rgb(246, 219, 123);
  font-size: 32px;
}

h1{
  color: white;
  font-size: 64px;
}

h2{
  color: white;
  font-size: 32px;
}

h3{
  text-align: center;
  text-decoration: underline;
  color: rgb(246, 219, 123);
}

.img{
  padding: 10px;
  height: 60px;
  width: 60px;
}

p{
  text-align: center;
}

hr{
  height: 3px;
  border-style: solid;
  width: 40px;
  border-radius: 20px;
  background: white;
}

#content{
  opacity: 0;
  font-size: 24px;
  font-family: 'Open Sans';
}

#canvas, #text {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
}
